<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Website Monitor</title>

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!-- Custom fonts for this template-->
    <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <link href="/static/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/static/css/sb-admin.css" rel="stylesheet">

    <!-- Custom styles for this text-->
    <link href="/static/css/text-style.css" rel="stylesheet">



</head>

<body id="page-top">
    {#<h1>Hi {{ user.username }}</h1>#}
    {% include "fragment/navbar.html" %}
    <div id="wrapper">

        {% include "fragment/side-bar.html" %}

        <div id="content-wrapper">
            {% if message %}
            <div class="alert alert-warning">{{ message }}</div>
            {% endif %}

            {% include "fragment/content-fluid.html" %}

            {% include "fragment/footer.html" %}

            <div>
                <p id="result"></p>
                <p id="result2"></p>
            </div>
        </div>
        <!-- /.content-wrapper -->



    </div>
    <!-- /#wrapper -->


    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="{% url 'login' %}">Logout</a>
                </div>
            </div>
        </div>
    </div>


    <!-- Bootstrap core JavaScript-->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Page level plugin JavaScript-->
    <script src="/static/vendor/datatables/jquery.dataTables.js"></script>
    <script src="/static/vendor/datatables/dataTables.bootstrap4.js"></script>
    <!-- <script src="/static/vendor/datatables/dataTables.editor.min.js"></script> -->

    <!-- Custom scripts for all pages-->
    <script src="/static/js/sb-admin.min.js"></script>

    <!-- Demo scripts for this page-->
    <script src="/static/js/demo/datatables-demo.js"></script>

    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="/static/js/line-chart.js"></script>
    <script>$.ajaxSetup({ headers: { "X-CSRFToken": '{{ csrf_token }}' } });</script>
    <script type="text/javascript">
        $(document).ready(function () {

            function refresh() {
                $.getJSON("/data_fresh/", function (res) {
                    var tbody = $('#tbody');
                    var i = 1;
                    tbody.empty();
                    Object.keys(res).forEach(function (key) {
//                        console.log(key)
                        var tr = document.createElement("tr")
                        var td0 = document.createElement("td");
                        var td1 = document.createElement("td");
                        var td2 = document.createElement("td");
                        var td3 = document.createElement("td");
                        var td4 = document.createElement("td");
                        var td5 = document.createElement("td");
                        td0.innerHTML = i;
                        i = i + 1;
                        td1.innerHTML = '<td><button class="btn btn-danger">Delete</button></td>'
                        td2.innerHTML = '<span class="text-info">' + key + '</span>'
                        if (res[key]['status'] == 'UP') {
                            td3.innerHTML = '<div class="btn bg-success btn-sm text-white"><span class="glyphicon glyphicon-circle-arrow-up"></span> UP</div>';
                        } else {
                            td3.innerHTML = '<div class="btn bg-danger btn-sm text-white"><span class="glyphicon glyphicon-exclamation-sign"></span> DOWN</div>'
                        }

                        td4.innerHTML = '<div class="box">' + res[key]['Time'] + '</div>'
                        if (res[key]['https']) {
                            td5.innerHTML = '<span class="btn bg-success btn-sm text-white">Https</span>'
                        } else {
                            td5.innerHTML = '<span class="btn bg-info btn-sm text-white">Http</span>'
                        }
                        tr.appendChild(td0);
                        // tr.appendChild(td1);
                        tr.appendChild(td2);
                        tr.appendChild(td3);
                        tr.appendChild(td4);
                        tr.appendChild(td5);
                        tr.appendChild(td1); // delete button
                        tbody.append(tr);
                    });

                })
            }
            refresh();
            setInterval(refresh, 30000);

            // add row numbers
            var t = $('#dataTable1').DataTable({
                "columnDefs": [{
                    "searchable": false,
                    "orderable": false,
                    "targets": 0
                }],
                "order": [[1, 'asc']]
            });
            t.on('order.dt search.dt', function () {
                t.column(0, { search: 'applied', order: 'applied' }).nodes()
                    .each(function (ceil, i) { ceil.innerHTML = i + 1 })
            }).draw();


            t.on('click', 'button', function (e) {

                var con = confirm("Delete this Row?")
                if (con) {
                    $.get('/users/delete_url',{name: $(this).parents('tr').children()[1].innerText}, function (data) {
                        console.log(data);
                    });
                    t.row($(this).parents('tr').remove().draw(false));

                } else {

                }
            })

            getResTime();
        });

        function getResTime() {
            var data1 = [];

            $.getJSON("/response_timemap/", function (res) {
                // all websites response time for each timestamp
                var values =  Object.values(res);

                // latest 4 times
                var value1 = values[values.length-1];
                var value2 = values[values.length-2];
                var value3 = values[values.length-3];
                var value4 = values[values.length-4];

                var items1 = Object.entries(value1);
                var items2 = Object.entries(value2);
                var items3 = Object.entries(value3);
                var items4 = Object.entries(value4);

                // put latest 4 times of each website into array to prepare data
                for (var i = 0; i<items1.length && i<4;i++){
                    data1[i]= [{'timestamp':1, 'yvalue': items4[i][1]['Time_number']}, {'timestamp':2, 'yvalue': items3[i][1]['Time_number']}, {'timestamp':3, 'yvalue': items2[i][1]['Time_number']}, {'timestamp':4, 'yvalue': items1[i][1]['Time_number']}]
                }
//                data1[0] = [{timestamp: 1, yvalue: 8167},{timestamp: 2, yvalue: 492},{timestamp: 3, yvalue: 2782}];

                //control the number of point on x axis
                var xnum = 4;
                var chartid = "#linechart";

                drawlinechart(chartid + '0',xnum, data1[0]);
                drawlinechart(chartid + '1',xnum, data1[1]);
                drawlinechart(chartid + '2',xnum, data1[2]);
                drawlinechart(chartid + '3',xnum, data1[3]);
            });

        }


        // draw chart
//        var data = [{timestamp: 1990010101, yvalue: 8167},{timestamp: 1990010110, yvalue: 492},{timestamp: 1990010120, yvalue: 2782}];
//        //console.log(data);
//        var xnum = 3;//control the number of point on x axis
//        var chartid = "#linechart";
//        drawlinechart(chartid + '0',xnum, data);

//        drawlinechart(chartid + '0',xnum, data1[0]);
//        drawlinechart(chartid + '1',xnum，data1[1]);
//        drawlinechart(chartid+ '2',xnum，data1[2]);
//        drawlinechart(chartid+ '3',xnum，data1[3]);

    </script>
</body>

</html>